h1 {
    color: blueviolet}
img {
    width: 400px}
#thirdDiv {
    background-color: coral; 
    width: 500; 
    height: 600px; 
    padding: 50px; 
    border-top-width: 34px;
    border-color: crimson;}
#spanId {
    font-size: 18px;}